.DS_Store
.coverage
.coverage.*
.hypothesis/
.import_linter_cache/
.invariant/
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.python-version
.ruff_cache/
.tox/
.venv/
uv.toml
*.egg-info/
*.log
*.py[cod]
__pycache__/
build/
dist/
htmlcov/
